@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'QuicksandMedium';
  src: url('../fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'QuicksandBold';
  src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
}
